body{
	background-image: url("https://cdn2.vox-cdn.com/thumbor/L1F9k6HulhYeJQ5pEGC-lzRT4kc=/cdn0.vox-cdn.com/uploads/chorus_asset/file/655222/tumblr_lmpg9jl57d1qfeod9.0.gif");
}
p{
	color: white;
}
p#egg{
	color: yellow;
}
p.jason{
	color: blue;
}